html, body, header, p, button, section, div, main, figure, figcaption, ul, li, img{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
}