body{
    background-color: #121214;
    font-family: 'IBM Plex Sans', sans-serif;
}
main.container{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

main.container .logo{
    margin: 42px 0px 73px 0px;   
}

p{
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 61px;
}

main.container section.users{
    width: 100%;
    
}

main.container section.users ul{
    display: flex;
    justify-content: space-between;
    color: #9C9C9C;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
main.container section.users ul li>figure{
    display: flex;
    width: 160px;
    flex-direction: column;
    gap: 16px;   
    transition: 0.3s;
    object-fit: cover;
}

main.container section.users ul li>figure:hover{
    filter: brightness(200%);
    filter: drop-shadow(white);    
    transition: 0.3s;
  
}

main.container section.users ul li figure>img{
border: 2px solid transparent;
border-radius: 8px;
transition: 0.3s;
}

main.container section.users ul li figure>img:hover{
    border: 2px solid white;
    border-radius: 8px;
    transition: 0.3s;
}

main.container section.button{
    display: flex;
    flex-direction: column;
    margin: 136px 0;
}

main.container section.button button{
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    width: 206px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    background-color: #121214;
    color: white;
    transition: 0.3s;
}

main.container section.button button:hover{
    background-color: white;
    color: #121214;
    transition: 0.3s;
}